/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos del header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

h1 {
    font-size: 25px;
    margin: 0;
    text-align: center;
}

/* Estilos para evitar que la imagen se deforme */
.bandera-escudo {
    max-width: 150px; /* Ajusta el tamaño máximo que desees */
    height: auto;     /* Mantiene la proporción original */
    object-fit: contain; /* Asegura que no se deforme */
    display: block;
    margin: 0 20px; /* Ajusta el margen si es necesario */
}

/* Estilos del menú desplegable */
.dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.dropdown-item {
    position: relative;
    display: inline-block;
}

.dropdown-item a {
    color: #fff;
    text-decoration: none;
    padding: 8px;
    font-size: 15px;
}

.dropdown-item a:hover {
    background-color: #444;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
    z-index: 1;
}

.dropdown-menu li a {
    padding: 10px;
    display: block;
    color: #fff;
}

.dropdown-menu li a:hover {
    background-color: #444;
}

/* Mostrar el menú cuando se pasa el mouse */
.dropdown-item:hover .dropdown-menu {
    display: block;
}

/* Otros estilos */
section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

/* Estilo del footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    width: 100%;
    position: relative;
    bottom: 0;
}

/* Centrar el himno */
#himno {
    text-align: center;
    line-height: 1.5;
}

/* Ajustes adicionales de imágenes generales si las tienes en otras partes del sitio */
img {
    display: block;
    margin: 20px auto;
}
